@section scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/App/Scripts/atTheMovie.js"></script>
    <script src="~/App/Scripts/movieService.js"></script>
    <script src="~/App/Scripts/EditController.js"></script>
    <script src="~/App/Scripts/ListController.js"></script>
    <script src="~/App/Scripts/DetailController.js"></script>
}

<div data-ng-app="atTheMovie">
    <ng-view></ng-view>
</div>
